@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 1.7em;
	font-family: 'Work Sans', sans-serif;
	color: #333;
	font-weight: 100;
	text-align: center;
	background-color: #f8f6f0;
}
h1{
	font-weight: 300;
	margin: 0px;
	padding: 0.5em;
	font-size: 1.8em;
	background-color: #444;
	color: #fff;
}
.question{
	font-size: 1.5em;
	display: inline-block;
	margin-bottom: 30px;
}
.answers {
	margin-bottom: 20px;
	text-align: left;
	display: inline-block;
}

.select {
	margin-bottom: 20px;
	text-align: left;
	display: inline-block;
}

.answers label{
	display: block;
	margin-bottom: 10px;
}
button{
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.3em;
	background-color: #379CC3;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	padding-left: 1.7em;
	padding-right: 1.7em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 0px;
	word-wrap: word-wrap: break-word;
}
button:hover{
    background-color: #38a;
}

.quiz-container{
  position: relative;
  /*height: 500px;*/
  margin-top: 40px;
}

* {box-sizing: border-box;}

.wrapper {
	border-radius: 5px;
	background-color: #f8f6f0;
	max-width: 40em;
	margin: auto;
	word-wrap: break-word;
	padding-left: 2em;
	padding-right: 2em;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.wrapper > div {
	border: 1px solid #C6C4C0;
	margin: 3px;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 0.7em;
	color: #000000;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.gridItems {
	font-size: 1em;	
	text-align: center;
	cursor: pointer;
	text-align: left;
	color: #000000;
}

.gridItems:hover { 
	background-color: rgba(160,202,223,0.3);
	border-color: #70C2E1;
	
}

.finalTitleMessage{
	position: relative;
	color: black;
	font-size: 1.6em;
	font-weight: 300;

}

.finalDetailsMessage{
	position: relative;
	color: black;
	font-size: 1.2em;
	font-weight: 300;

}

.progressContainer {
	margin-left:60px;
	margin-right:60px;
	margin-bottom: 40px;
	
}

#myProgress {
	position: relative;
	margin: auto;
	max-width: 30em;
	background-color: #ddd;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 25px;
}

#progressBar {
	display: none;
	width: 0%;
	height: 15px;
	background-color: #4CAF50;
	text-align: left;
	line-height: 25px;
	color: white;
	border-radius: 5px;
}

#warningLabel{
	font-family: 'Work Sans', sans-serif;
	color: red;
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: -15px;
}

#nameInput{
	font-family: 'Work Sans', sans-serif;
	padding-left: 5px;
	border-radius: 5px;
	width: 13em;
	height: 2em;
	font-size: 1.1em;
	font-weight: 300;
}

#testSelector{
	font-family: 'Work Sans', sans-serif;
	padding-left: 5px;
	border-radius: 5px;
	margin-top: 20px;
	width: 13em;
	height: 2em;
	font-size: 1.1em;
	font-weight: 300;
}

@media screen and (max-width: 600px) {
	.wrapper {
		padding-left:0em;
		padding-right:0em;
	}
	.progressContainer {
	margin-left:5px;
	margin-right:5px;
	}
}